@font-face {
    font-family: 'zabras';
    src:  url('./fonts/Zabars.ttf') format('truetype');
} 

body {
  font-family: zabras, sans-serif;
  font-size: 32px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./img/5_background/4279652.jpg");
  /* background-size: cover; */
  background-position: center;
  /* background-repeat: no-repeat; */ 
  height: 100dvh;
  margin: 0;
}

p{
  font-size: 24px;
  color: white;
}

a{
  text-decoration: none;
  color: #000;
  cursor: pointer;
  padding: 8px;
  background-color: #4CAF50;
  border-radius: 8px;
  width: 256px; 
  text-align: center;
}

a:hover{
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  padding: 8px;
  background-color: #4CAF50;
  border-radius: 8px;
}

canvas {
  background-color: black;
  display: block;
  border: 1px solid;
}

#fullscreen {
  position: relative;
}

.navBar {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.topNav {
  padding-top: 2%;
  margin: 0 auto;
  display: flex;
  gap: 16px;
  align-items: center;
  color: white;
}

.bottomNav {
  position: absolute;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 8px;
  bottom: 10px;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.bottomStartGame {
  width: 150px;
  height: 30px;
  background-color: #4CAF50;
  display: flex;
  gap: 32px;
}

.bottomNavLeft{
  display: flex;
  gap: 32px;
}
.bottomNavRight{
  display: flex;
  gap: 32px;
}

.allBtnStyle {
  height: 42px;
}

.desktop{
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile{
  display: none;
}
.dNone{
  display: none;
}
.deviceTurn{
  display: none;
}

@media (orientation: portrait) {
  .deviceTurn {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100vh;   
    background-color: #000;
  }
  .imgTurnDevice{
    display: flex;
    display: flex;
    width: 100%;
    height: 100vh;  
  }
}

@media (min-width: 1034px) {
  .deviceTurn {
    display: none;          /* Ensure it's hidden even on larger screens */
  }

  .imgTurnDevice {
    display: none;          /* Ensure it's hidden even on larger screens */
  }
}

@media only screen and (max-width: 1280px){
  body {
    align-items: normal;
  }
  .mobile{
    display: flex;
  }
  .desktop{
    display: none;
  }
  canvas{
    width: 100%;
    border: 0px;
  }
}

@media only screen and (max-height: 576px){
  body {
    align-items: normal;
  }
  .desktop{
    display: none;
  }
  .mobile{
    display: flex;
  }
  canvas{
    height: 100vh;
    border: 0px;
  }
}